
.title{
    font-size: 50px; 
    text-align: center
}


.blog-content {
    width: 80%;
    height: 200px;
    float: left;
    
}

.box{
    width:500px;
    height: 100px;
    background-color: cadetblue;
    margin: 100px;
    padding: 40px;
    border-radius: 15px;
    margin-left:auto; 
    margin-right:auto;
    font-size: 15px;
    color: white;
    box-shadow: 10px 10px gray;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
/*    float: left;*/
    display: inline-block;
    vertical-align: top;
}

.right { 
    width: 80%;
    height:400px;
    background: coral;
/*    float: left;*/
    display: inline-block;
}

.footer {
    width:100%;
    height: 100px;
    background-color: grey;
/*    clear: both;*/
}

.blog-img {
    width: 20%;
    height: 200px;
    float:left;
    
}

.img {
    width:200px; 
    display:block; 
    margin-left:auto; 
    margin-right:auto
}

.content {
    width: 100%;
    height: 165px;
    margin-top: 10px;
    
}

.blog-profile {
    width: 50px;
    float:left;
}

.blog-name {
    float:left;
}
